<template>
  <v-ons-page>
    <v-ons-list>
      <v-ons-list-item v-for="item in listItem" :key="item.id" tappable>
        <label class="left">
          <v-ons-checkbox
            :input-id="'todo-' + item.id"
            :value="item.id"
            :model-prop="item.done"
            @change="onChecked"
          >
          </v-ons-checkbox>
        </label>
        <label class="center" :for="'todo-' + item.id" style="word-break: break-all">
          {{item.label}}
        </label>
        <label v-if="showDelete" class="right">
          <v-ons-button  @click="() => onDeleteTodo(item)">
            <v-ons-icon icon="fa-trash"></v-ons-icon>
          </v-ons-button>
        </label>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-page>
</template>

<script>
export default {
  name: 'BaseTodoList',
  props: {
    listItem: {
      type: Array,
      default: function() {
        return []
      }
    },
    showDelete: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onChecked(event) {
      this.$emit('check', event.target.value)
    },
    onDeleteTodo(todo) {
      this.$emit('deleteTodo', todo.id, todo.label)
    }
  }
}
</script>
