<template>
  <v-ons-page>
    <base-todo-list :list-item="doneTodo" :defaultCheckValue="true" @check="onTodoCheck" />
  </v-ons-page>
</template>

<script>
import BaseTodoList from './BaseTodoList'
import { MAKE_UNDONE } from '../../store/modules/todo/mutation-types'

export default {
  name: 'TodoListDone',
  components: { BaseTodoList },
  computed: {
    doneTodo() {
      return this.$store.getters.doneTodos
    }
  },
  methods: {
    onTodoCheck(todoID) {
      this.$store.commit(MAKE_UNDONE, todoID)
    }
  }
}
</script>
