<template>
  <v-ons-page>
    <base-todo-list
      :list-item="doTodo"
      :show-delete="true"
      @check="onTodoCheck"
      @deleteTodo="onDeleteTodo"
    />
  </v-ons-page>
</template>

<script>
import BaseTodoList from './BaseTodoList'
import { MAKE_DONE, REMOVE_TODO } from '../../store/modules/todo/mutation-types'

export default {
  name: 'TodoListDo',
  components: { BaseTodoList },
  computed: {
    doTodo() {
      return this.$store.getters.doTodos
    }
  },
  methods: {
    onTodoCheck(todoId) {
      this.$store.commit(MAKE_DONE, todoId)
    },
    onDeleteTodo(todoId, todoLabel) {
      this.$ons.notification
        .confirm(`Xóa todo "${todoLabel}" ?`, {
          title: 'Todo App'
        })
        .then(response => {
          if (response) {
            this.$store.commit(REMOVE_TODO, todoId)
          }
        })
    }
  }
}
</script>
