
<template>
  <v-ons-page>
    <v-ons-toolbar>
      <div class="center">Todo App</div>
    </v-ons-toolbar>

    <v-ons-tabbar
      swipeable
      position="auto"
      :tabs="tabs"
      :visible="true"
      :index.sync="activeIndex"
    />

    <todo-option />
  </v-ons-page>
</template>

<script>
import TodoListDo from './TodoListDo'
import TodoListDone from './TodoListDone'
import TodoOption from './TodoOption'

export default {
  name: 'TodoPage',
  components: {
    TodoOption
  },
  data() {
    return {
      isAddDialogVisible: false,
      activeIndex: 0,
      tabs: [
        {
          label: 'Do',
          page: TodoListDo,
          key: 'TodoListDo'
        },
        {
          label: 'Done',
          page: TodoListDone,
          key: 'TodoListDone'
        }
      ]
    }
  }
}
</script>
