<template>
    <v-ons-speed-dial
      position="bottom right"
      direction="up"
      :open.sync="isFabOpen">
      <v-ons-fab>
        <v-ons-icon v-if="!isFabOpen" icon="md-plus"></v-ons-icon>
        <v-ons-icon v-else icon="md-close"></v-ons-icon>
      </v-ons-fab>

      <v-ons-speed-dial-item @click="onRemoveDoneClick">
        <v-ons-icon icon="fa-trash"></v-ons-icon>
      </v-ons-speed-dial-item>
      <v-ons-speed-dial-item @click="onTodoAddClick">
        <v-ons-icon icon="md-plus"></v-ons-icon>
      </v-ons-speed-dial-item>
    </v-ons-speed-dial>
</template>

<script>
import { ADD_TODO, REMOVE_DONE } from '../../store/modules/todo/mutation-types'

export default {
  name: 'ToDoOption',
  data() {
    return {
      isFabOpen: false
    }
  },
  methods: {
    onTodoAddClick() {
      this.closeFab()
      this.$ons.notification
        .prompt('Thêm todo mới', {
          buttonLabels: ['Cancle', 'OK'],
          placeholder: 'Cần làm gì?',
          title: 'Todo App'
        })
        .then(response => {
          if (response) {
            this.$store.commit(ADD_TODO, response)
          }
        })
    },
    onRemoveDoneClick() {
      this.closeFab()
      this.$ons.notification
        .confirm('Xóa hết todo đã xong ?', {
          title: 'Todo App'
        })
        .then(response => {
          if (response) {
            this.$store.commit(REMOVE_DONE)
          }
        })
    },
    closeFab() {
      this.isFabOpen = false
    }
  }
}
</script>
