<template>
  <v-ons-page id="app">
    <!-- <v-ons-splitter>
      <v-ons-splitter-side swipeable collapse width="250px"
        :animation="$ons.platform.isAndroid() ? 'overlay' : 'reveal'"
        :open.sync="menuIsOpen">
        <menu-page></menu-page>
      </v-ons-splitter-side>

      <v-ons-splitter-content>
        <home-page></home-page>
      </v-ons-splitter-content>
    </v-ons-splitter> -->
    <todo-page />
  </v-ons-page>
</template>

<script>
/* eslint-disable */
import Vue from 'vue'

// import HomePage from './components/HomePage'
// import MenuPage from './components/MenuPage'
import TodoPage from './components/TodoPage/TodoPage'
import { GET_TODO } from './store/modules/todo/mutation-types'

export default {
  name: 'app',
  created() {
    this.initialize()
  },
  components: {
    TodoPage
  },
  methods: {
    initialize: function() {
      document.addEventListener(
        'deviceready',
        () => {
          this.$store.dispatch(GET_TODO)
        },
        false
      )
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* ons-splitter-side[side=left][animation=overlay] {
  border-right: 1px solid #BBB;
} */
</style>
